<mat-toolbar class="header"color='primary'>
  <img class = "img" width="30" height="30" src="./assets/logo.jpeg">&nbsp;
 <span style="cursor: pointer;" routerLink="/"> {{title}}</span>
  <span class="space"></span>

  
  

  <button class="button" routerLink="/register" mat-raised-button color='primary'>Register</button>
  <button class="button" routerLink="/manager" mat-raised-button color='primary'>Register Manager</button>
  <!-- The Manager register button is moved in the Owner home page -->
  <button class="button" routerLink="/login" mat-raised-button color='primary'>Login</button>
  <button class="button" routerLink="/login-manager" mat-raised-button color='primary'>Manager Login</button>
</mat-toolbar>
