

<form action="">
    <h2 class="col-md-6" align="center">User Registration</h2>
    <p align="center">Fill out all the required fields:</p>
    <div class="example-container">
        <p align="center">
            <mat-form-field  type="text" hintLabel="Max 30 characters" appearance="outline">
                <mat-label>First (Given) Name</mat-label>
                    <input matInput #firstName maxlength="30" placeholder="Ex. John">
                <mat-hint align="end">{{firstName.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
        <span style="margin-left: 3em;"></span>
                <mat-form-field type="text" hintLabel="Max 30 characters" appearance="outline">
                    <mat-label>Last (Family) Name</mat-label>
                        <input matInput #lastName maxlength="30" placeholder="Ex. John">
                    <mat-hint align="end">{{lastName.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
            </p>
            <p align="center">
                <mat-form-field type="email" hintLabel="Max 50 characters" appearance="outline">
                    <mat-label>Email Address</mat-label>
                        <input matInput #email maxlength="50" placeholder="Ex. john@aol.com">
                    <mat-hint align="end">{{email.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
                <span style="margin-left: 3em;"></span>
                <mat-form-field type="number" hintLabel="Max 14 digits" appearance="outline">
                    <mat-label>Phone</mat-label>
                        <input matInput #phone maxlength="14" placeholder="Ex. 6475551234">
                    <mat-hint align="end">{{phone.value?.length || 0}}/14</mat-hint>
                </mat-form-field>
            </p>
            <p align="center">
                <mat-form-field type="password" hintLabel="Max 50 characters/Min 8 characters" appearance="outline">
                    <mat-label>Password</mat-label>
                        <input matInput #password maxlength="50" placeholder="">
                    <mat-hint align="end">{{password.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
                <span style="margin-left: 3em;"></span>
                <mat-form-field type="password" hintLabel="Max 50 characters/Min 8 characters" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                        <input matInput #confirmPassword maxlength="50" placeholder="">
                    <mat-hint align="end">{{confirmPassword.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
            </p>
            
            <section align="center">
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Register Now</button>
                </div>
              </section>
    </div>
</form>