
    <h2 class="col-md-6" align="center">User Registration</h2>
    <p align="center">Fill out all the required fields:</p>
    <form [formGroup]="registerForm" action="register.component.ts">
        <p align="center">
            <mat-form-field  type="text" hintLabel="Max 30 characters" appearance="outline">
                <mat-label for="firstName">First (Given) Name</mat-label>
                    <input matInput formControlName="firstName" #firstName maxlength="30" placeholder="Ex. John">
                <mat-hint align="end">{{firstName.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
        <span style="margin-left: 3em;"></span>
                <mat-form-field type="text" hintLabel="Max 30 characters" appearance="outline">
                    <mat-label>Last (Family) Name</mat-label>
                        <input matInput formControlName="lastName" #lastName maxlength="30" placeholder="Ex. John">
                    <mat-hint align="end">{{lastName.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
            </p>
            <p align="center">
                <mat-form-field type="email" hintLabel="Max 50 characters" appearance="outline">
                    <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" #email maxlength="50" placeholder="Ex. john@aol.com">
                    <mat-hint align="end">{{email.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
                <span style="margin-left: 3em;"></span>
                <mat-form-field type="number" hintLabel="Max 14 digits" appearance="outline">
                    <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" #phone maxlength="14" placeholder="Ex. 6475551234">
                    <mat-hint align="end">{{phone.value?.length || 0}}/11</mat-hint>
                </mat-form-field>
            </p>
            <p align="center">
                <mat-form-field type="password" hintLabel="Max 50 characters/Min 8 characters" appearance="outline">
                    <mat-label>Password</mat-label>
                    <!--Password:[7 to 15 characters which contain at least one numeric digit and a special character]-->
                        <input type="password" formControlName="password" #password maxlength="50" placeholder="">
                    <mat-hint align="end">{{password.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
                <span style="margin-left: 3em;"></span>
                <mat-form-field type="password" hintLabel="Max 50 characters/Min 8 characters" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput formControlName="password" #confirmPassword maxlength="50" placeholder="">
                    <mat-hint align="end">{{confirmPassword.value?.length || 0}}/50,{{confirmPassword.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
            </p>

            <section align="center">
              <!--<div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>-->
               <div class="example-button-row">
                  <button type="button" mat-raised-button color="primary" (click)="createCustomer()">Register Now</button>
                </div>
              </section>
</form>
